<ul class="nav nav-sidebar">
  <li class="active"><a href="#">Datos generales</a></li>
  <li><a href="#">Emisor</a></li>
  <li><a href="#">Receptor</a></li>
  <li><a href="#">Impuestos</a></li>
  <li><a href="#">Conceptos</a></li>
  <li><a href="#">Timbre Fiscal Digital</a></li>
</ul>
