<div id="header-region">
</div>

<div class="container-fluid">
  <div class="row">
    <div id="left-menu" class="col-sm-3 col-md-2 sidebar">
    </div>

    <div id="main-region" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Welcome!!</h1>
      <h2 class="sub-header">Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  
    <div id="modal-region">
    </div>

  </div>
</div>

<h1>{{ message }}</h1>
